.link{
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:25px;	
}

.linkbox{
	border-width: 2;
	border-color: #3300CC;
	clear:both;
	width:100%
}

.linkbox .blogImage{
	float:left;
	width:250px;
}

.linkbox .linkcontent{
	float:left;	
}

a{
	text-decoration:none;

}

#biglogin{
	//float:right;
	padding-left:10px;
	vertical-align:middle;
}

#logoBox{
	padding-top:10px;
}

#logo{
	vertical-align:middle;	
}

.current_page{
display: inline;
padding-right: 5px;
font-weight: bold;
}

.not_current_page{
	color: #999999;
	padding-right: 5px;
}